#json{
    display: none;
}
h1 {
    color: darkblue;
}
#song {
    font-size: 100px;
    text-align: center;
}
#buttons {
    margin-left: 25%;
}

#exText{
    font-size: 20px;
}
button {
    color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}
#btn{
    background-color: forestgreen;
}
#okaybtn {
    background-color: lightgreen;
}

#btn2 {
    background-color: red;
}

#btn3 {
    background-color: dimgray;
    display: block;
    position: relative;
    left: 21.5%;
}
#result-text{
    display: none;
}

#skip-counter{
    display: none;
}

#model-text{
    display: none;
}

#finish {
    color: white;
    background-color: darkblue;
    position: relative;
    bottom: 40%;
    left: 40%;
    visibility: hidden;
}
